{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['pw_root_menu', 'pw_menu_item'] %}


{% block title %}{{ 'admin.content.sqloutput_management'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.content.contents_management'|trans }}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        li.list-group-item {
            z-index: inherit !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">

                <!-- <div class="d-block mb-3">
                    <a id="addNew" class="btn btn-ec-regular"
                       href="{{ url('admin_content_news_new') }}">{{ 'admin.common.create__new'|trans }}</a>
                </div> -->

                <div class="card rounded border-0 mb-4">
                  <div class="card-body p-0">

                <table>
                  <thead>
                    <th>{{ 'admin.content.sqloutput.id'|trans }} </th>
                    <th>{{ 'admin.content.sqloutput.title'|trans }}</th>
                    <th>{{ 'admin.content.sqloutput.name'|trans }}</th>
                  </thead>

                  <tbody>
                  <tr>
                    <td>1
                    </td>
                    <td>ワーク
                    </td>
                    <td>select * from test
                    </td>
                  </tr>

                  {% for Output in Outputs %}
                  <tr>
                    <td>
                    {{ Output.id }} / 21
                    </td>
                    <td>
                    {{ Output.id }} / 22
                    </td>
                    <td>
                    {{ Output.id }} / 23
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>


                        {% if pagination.paginationData.pageCount > 1 %}
                            <div class="row justify-content-md-center mb-4">
                                {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_content_sqloutput_page' } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
